@font-face {
  font-family: "PxPlus IBM VGA8";
  src: url("./fonts/PxPlus_IBM_VGA8.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "PxPlus IBM VGA8", "Courier New", monospace;
  color: #00ff00;
  background-color: #000000;
  margin: 0;
  padding: 20px;
  text-shadow: 0 0 3px #00ff00;
  font-size: 18px;
}

.main-heading {
  font-size: 2.2em;
  font-weight: bold;
  margin-bottom: 0.3em;
  color: #00ff00;
  text-shadow: 0 0 7px #00ff00, 0 0 12px #00ff00;
}

details:not([open]) > summary.main-heading {
  animation: bounce 3s ease infinite;
}

.bio {
  font-size: 1.3em;
  color: #00ff00;
  text-shadow: 0 0 5px #00ff00;
}

.bio__cu-highlight {
  display: inline-block;
  color: gold;
  font-weight: bold;
  text-shadow: 0 0 6px gold, 0 0 12px gold;
}

a {
  color: #00ffff;
  text-decoration: none;
  text-shadow: 0 0 5px #00ffff;
  transition: all 0.3s ease;
  font-weight: bold;
}

a:hover {
  color: #66ffff;
  text-shadow: 0 0 10px #00ffff, 0 0 15px #00ffff;
}

ul {
  list-style-type: none;
  line-height: 2em;
}

summary {
  cursor: pointer;
  color: #00ff00;
  text-shadow: 0 0 3px #00ff00;
  transition: all 0.3s ease;
}

summary:hover {
  color: #44ff44;
  text-shadow: 0 0 10px #00ff00;
}

details > summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

ul li {
  position: relative;
}

ul li::before {
  position: absolute;
  left: -10px;
  top: 0px;
  border-left: 2px solid #00ff00;
  border-bottom: 2px solid #00ff00;
  content: "";
  width: 8px;
  height: 1em;
}

ul li::after {
  position: absolute;
  left: -10px;
  bottom: 0px;
  border-left: 2px solid #00ff00;
  content: "";
  width: 8px;
  height: 100%;
}

ul li:last-child::after {
  display: none;
}

ul details[open] > summary {
  color: #88ff88;
  font-style: italic;
  transition: all 0.3s ease;
  text-shadow: 0 0 10px #00ff00, 0 0 18px #00ff00;
  font-weight: bold;
}

ul summary {
  transition: all 0.3s ease;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
