<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>evan's food</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <div class="tier-row tier-s">
        <div class="tier-header">
          <h3>S</h3>
        </div>
        <div class="tier-items"></div>
      </div>
      <div class="tier-row tier-a">
        <div class="tier-header">
          <h3>A</h3>
        </div>
        <div class="tier-items"></div>
      </div>
      <div class="tier-row tier-b">
        <div class="tier-header">
          <h3>B</h3>
        </div>
        <div class="tier-items"></div>
      </div>
      <div class="tier-row tier-c">
        <div class="tier-header">
          <h3>C</h3>
        </div>
        <div class="tier-items"></div>
      </div>
      <div class="tier-row tier-d">
        <div class="tier-header">
          <h3>D</h3>
        </div>
        <div class="tier-items"></div>
      </div>
      <div class="tier-row tier-f">
        <div class="tier-header">
          <h3>F</h3>
        </div>
        <div class="tier-items"></div>
      </div>
    </div>
    <script src="brain.js"></script>
  </body>
</html>
