body {
  background-color: #5f5f5f;
  font-family: monospace, monospace;
  color: rgb(42, 42, 42);
  display: flex;
  justify-content: center;
  align-content: center;
}

h1 {
  margin-top: 50px;
}

.header-text {
  text-align: center;
}

.mobile-text {
  display: none;
}

.desktop-text {
  display: block;
}

h2 > em {
  color: rgb(181, 205, 181);
}

h3 {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.tier-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(71, 71, 71);
  border: 3px solid black;
  border-bottom: 0px;
}

.tier-row:last-child {
  border-bottom: 3px solid black;
}

.tier-header {
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  border-right: 3px solid black;
  padding: 0 60px;
}

.tier-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 5px;
  min-height: 90px;
}

.item {
  margin: 5px;
  cursor: grab;
  transition: margin 0.2s ease;
}

.item img {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  transition: all 0.3s ease;
  touch-action: none;
}

.item img.enlarged {
  width: 300px;
  height: 300px;
  border-radius: 16px;
  position: relative;
  z-index: 10;
}

.image-caption {
  text-align: center;
  font-style: italic;
  color: rgb(181, 205, 181);
  margin-top: 5px;
}

.item.dragging {
  opacity: 0.5;
}

.tier-items.drag-over {
  background-color: rgba(255, 255, 255, 0.2);
}

.tier-items.drag-over .item:not(.dragging) {
  margin: 10px 10px;
}

.tier-row.tier-s div.tier-header {
  background-color: rgb(249, 154, 154);
}

.tier-row.tier-a div.tier-header {
  background-color: rgb(254, 209, 126);
}

.tier-row.tier-b div.tier-header {
  background-color: rgb(249, 249, 151);
}

.tier-row.tier-c div.tier-header {
  background-color: rgb(168, 216, 168);
}

.tier-row.tier-d div.tier-header {
  background-color: rgb(148, 148, 213);
}

.tier-row.tier-f div.tier-header {
  background-color: rgb(165, 147, 165);
}

.back-button {
  color: rgb(42, 42, 42);
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  z-index: 1000;
  text-decoration: none;
  font-size: 2rem;
}

.back-button:hover {
  color: rgb(163, 190, 221);
}

@media (max-width: 767px) {
  .container {
    width: 100%;
  }

  .tier-row {
    flex-direction: column;
    border-left: 3px solid black;
    border-right: 3px solid black;
    height: auto;
  }

  .tier-header {
    border-right: none;
    padding: 10px;
    font-size: 1.5em;
    width: 100%;
    min-height: 100px;
    height: auto;
  }

  .tier-items {
    justify-content: center;
  }

  .mobile-text {
    display: block;
    background-color: yellow;
    color: black;
    padding: 10px;
    border-radius: 5px;
  }

  .desktop-text {
    display: none;
  }
}
