body {
  background-color: #5f5f5f;
  font-family: monospace, monospace;
  color: rgb(42, 42, 42);
}

h1 {
  text-align: center;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
}

figure {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 60px;
  z-index: 1;
}

figure:first-of-type {
  margin-top: 0;
}

figure:hover {
  transform: scale(1.1);
}

img {
  width: 450px;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

figcaption {
  font-size: 1rem;
  margin-top: 5px;
  background-color: rgba(181, 205, 181, 0.6);
  border-radius: 5px;
  padding: 2px 5px;
  width: fit-content;
}

.line-segment {
  border-bottom: 5px dashed red;
  position: absolute;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  height: 0px;
}

.line-segment.visible {
  opacity: 1;
}

@media (min-width: 768px) {
  figure:nth-of-type(even) {
    align-self: flex-end;
  }

  figure:nth-of-type(4n + 1) {
    align-self: center;
  }

  figure:nth-of-type(4n + 2) {
    align-self: flex-end;
  }

  figure:nth-of-type(4n + 3) {
    align-self: center;
  }

  figure:nth-of-type(4n + 4) {
    align-self: flex-start;
  }
}

p {
  text-align: center;
}
