@font-face {
  font-family: "PxPlus IBM VGA8";
  src: url("../../fonts/PxPlus_IBM_VGA8.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #000000;
  font-family: "PxPlus IBM VGA8", "Courier New", monospace;
  color: #00ff00;
  text-shadow: 0 0 3px #00ff00;
  font-size: 18px;
  margin: 0;
  padding: 20px;
  min-height: 100vh;
}

h1 {
  text-align: center;
  margin-top: 50px;
  color: #00ff00;
  text-shadow: 0 0 7px #00ff00, 0 0 12px #00ff00;
  font-size: 2.2em;
  font-weight: bold;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
}

figure {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 60px;
  z-index: 1;
}

figure:first-of-type {
  margin-top: 0;
}

figure:hover {
  transform: scale(1.1);
}

img {
  width: 450px;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

figcaption {
  font-size: 1rem;
  margin-top: 5px;
  background-color: rgba(0, 255, 0, 0.2);
  border-radius: 5px;
  padding: 2px 5px;
  width: fit-content;
  color: #00ff00;
  text-shadow: 0 0 3px #00ff00;
}

.line-segment {
  border-bottom: 5px dashed red;
  position: absolute;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  height: 0px;
}

.line-segment.visible {
  opacity: 1;
}

@media (min-width: 768px) {
  figure:nth-of-type(even) {
    align-self: flex-end;
  }

  figure:nth-of-type(4n + 1) {
    align-self: center;
  }

  figure:nth-of-type(4n + 2) {
    align-self: flex-end;
  }

  figure:nth-of-type(4n + 3) {
    align-self: center;
  }

  figure:nth-of-type(4n + 4) {
    align-self: flex-start;
  }
}

p {
  text-align: center;
}

.back-button {
  color: #00ffff;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  z-index: 1000;
  text-decoration: none;
  font-size: 2rem;
  text-shadow: 0 0 5px #00ffff;
  transition: all 0.3s ease;
  font-weight: bold;
}

.back-button:hover {
  color: #66ffff;
  text-shadow: 0 0 10px #00ffff, 0 0 15px #00ffff;
}

@media (max-width: 767px) {
  figure:hover {
    transform: none;
  }

  img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
}
