<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Evan's Travels</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>You should visit...️</h1>
    <div class="image-container">
      <figure>
        <img src="../../assets/imgs/vietnam-ninh-binh-ngoa-long.jpg" />
        <figcaption>Núi Ngoa Long - Ninh Binh, Vietnam</figcaption>
      </figure>
      <figure>
        <img src="../../assets/imgs/bali-uluwatu-bingin-beach.jpg" />
        <figcaption>Bingin Beach - Uluwatu, Bali</figcaption>
      </figure>
      <figure>
        <img src="../../assets/imgs/bali-kintamani-ulun-danu-batur.jpg" />
        <figcaption>Ulun Danu Batur - Kintamani, Bali</figcaption>
      </figure>
      <figure>
        <img src="../../assets/imgs/bali-ubud-rice-terraces.jpg" />
        <figcaption>Rice Terraces - Ubud, Bali</figcaption>
      </figure>
      <figure>
        <img src="../../assets/imgs/us-boulder-chautauqua-park.jpg" />
        <figcaption>Chautauqua Park - Boulder, US</figcaption>
      </figure>
      <figure>
        <img src="../../assets/imgs/us-boulder-flatirons.jpg" />
        <figcaption>Flatirons - Boulder, US</figcaption>
      </figure>
      <figure>
        <img src="../../assets/imgs/japan-kyoto-bamboo-forest.jpg" />
        <figcaption>Bamboo Forest - Kyoto, Japan</figcaption>
      </figure>
      <figure>
        <img src="../../assets/imgs/japan-kyoto-gion-district.jpg" />
        <figcaption>Gion District - Kyoto, Japan</figcaption>
      </figure>
      <figure>
        <img src="../../assets/imgs/japan-kyoto-fushimi-inari.jpg" />
        <figcaption>Fushimi Inari - Kyoto, Japan</figcaption>
      </figure>
      <figure>
        <img src="../../assets/imgs/japan-kyoto-kinkaku-ji.jpg" />
        <figcaption>Kinkaku-ji - Kyoto, Japan</figcaption>
      </figure>
      <figure>
        <img src="../../assets/imgs/us-new-york-big-apple.jpg" />
        <figcaption>The Big 🍎</figcaption>
      </figure>
      <figure>
        <img src="../../assets/imgs/japan-osaka-dotonbori.jpg" />
        <figcaption>Dotonbori - Osaka, Japan</figcaption>
      </figure>
      <figure>
        <img src="../../assets/imgs/italy-positano-beach.jpg" />
        <figcaption>Positano, Italy</figcaption>
      </figure>
      <figure>
        <img src="../../assets/imgs/vietnam-ha-long-bay.jpg" />
        <figcaption>Ha Long Bay, Vietnam</figcaption>
      </figure>
      <figure>
        <img src="../../assets/imgs/vietnam-hanoi-train-street.jpg" />
        <figcaption>Hanoi Train Street - Hanoi, Vietnam</figcaption>
      </figure>
      <figure>
        <img src="../../assets/imgs/japan-tokyo-skytree.jpg" />
        <figcaption>Skytree - Tokyo, Japan</figcaption>
      </figure>
    </div>
    <p>Shoutout to the Indiana Jones movies for the inspiration!</p>
    <script src="brain.js"></script>
  </body>
</html>
