<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>evan's travels</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <a class="back-button" href="../../skeleton.html">←</a>
    <h1>You should visit...️</h1>
    <div class="image-container">
      <figure>
        <img
          src="../../assets/imgs/travel/vietnam-ninh-binh-ngoa-long.jpg"
          alt="Núi Ngoa Long - Ninh Binh, Vietnam"
        />
        <figcaption>Núi Ngoa Long - Ninh Binh, Vietnam</figcaption>
      </figure>
      <figure>
        <img
          src="../../assets/imgs/travel/bali-uluwatu-bingin-beach.jpg"
          alt="Bingin Beach - Uluwatu, Bali"
        />
        <figcaption>Bingin Beach - Uluwatu, Bali</figcaption>
      </figure>
      <figure>
        <img
          src="../../assets/imgs/travel/italy-positano-beach.jpg"
          alt="Positano, Italy"
        />
        <figcaption>Positano, Italy</figcaption>
      </figure>
      <figure>
        <img
          src="../../assets/imgs/travel/us-california-slo.jpeg"
          alt="San Luis Obispo - California, US"
        />
        <figcaption>San Luis Obispo - California, US</figcaption>
      </figure>
      <figure>
        <img
          src="../../assets/imgs/travel/bali-ubud-rice-terraces.jpg"
          alt="Rice Terraces - Ubud, Bali"
        />
        <figcaption>Rice Terraces - Ubud, Bali</figcaption>
      </figure>
      <figure>
        <img
          src="../../assets/imgs/travel/us-boulder-chautauqua-park.jpg"
          alt="Chautauqua Park - Boulder, US"
        />
        <figcaption>Chautauqua Park - Boulder, US</figcaption>
      </figure>
      <figure>
        <img
          src="../../assets/imgs/travel/bali-kintamani-ulun-danu-batur.jpg"
          alt="Ulun Danu Batur - Kintamani, Bali"
        />
        <figcaption>Ulun Danu Batur - Kintamani, Bali</figcaption>
      </figure>
      <figure>
        <img
          src="../../assets/imgs/travel/us-boulder-flatirons.jpg"
          alt="Flatirons - Boulder, US"
        />
        <figcaption>Flatirons - Boulder, US</figcaption>
      </figure>
      <figure>
        <img
          src="../../assets/imgs/travel/japan-kyoto-fushimi-inari.jpg"
          alt="Fushimi Inari - Kyoto, Japan"
        />
        <figcaption>Fushimi Inari - Kyoto, Japan</figcaption>
      </figure>
      <figure>
        <img
          src="../../assets/imgs/travel/us-new-york-big-apple.jpg"
          alt="The Big Apple - New York, US"
        />
        <figcaption>The Big 🍎</figcaption>
      </figure>
      <figure>
        <img
          src="../../assets/imgs/travel/japan-kyoto-gion-district.jpg"
          alt="Gion District - Kyoto, Japan"
        />
        <figcaption>Gion District - Kyoto, Japan</figcaption>
      </figure>
      <figure>
        <img
          src="../../assets/imgs/travel/us-wyoming-jackson-hole.jpeg"
          alt="Jackson Hole - Wyoming, US"
        />
        <figcaption>Jackson Hole - Wyoming, US</figcaption>
      </figure>
      <figure>
        <img
          src="../../assets/imgs/travel/japan-kyoto-kinkaku-ji.jpg"
          alt="Kinkaku-ji - Kyoto, Japan"
        />
        <figcaption>Kinkaku-ji - Kyoto, Japan</figcaption>
      </figure>
      <figure>
        <img
          src="../../assets/imgs/travel/costa-rica-papagayo-peninsula.jpg"
          alt="Papagayo Peninsula - Costa Rica"
        />
        <figcaption>Papagayo Peninsula - Costa Rica</figcaption>
      </figure>
      <figure>
        <img
          src="../../assets/imgs/travel/japan-osaka-dotonbori.jpg"
          alt="Dotonbori - Osaka, Japan"
        />
        <figcaption>Dotonbori - Osaka, Japan</figcaption>
      </figure>
      <figure>
        <img
          src="../../assets/imgs/travel/vietnam-ha-long-bay.jpg"
          alt="Ha Long Bay, Vietnam"
        />
        <figcaption>Ha Long Bay, Vietnam</figcaption>
      </figure>
      <figure>
        <img
          src="../../assets/imgs/travel/japan-kyoto-bamboo-forest.jpg"
          alt="Bamboo Forest - Kyoto, Japan"
        />
        <figcaption>Bamboo Forest - Kyoto, Japan</figcaption>
      </figure>
      <figure>
        <img
          src="../../assets/imgs/travel/vietnam-hanoi-train-street.jpg"
          alt="Hanoi Train Street - Hanoi, Vietnam"
        />
        <figcaption>Hanoi Train Street - Hanoi, Vietnam</figcaption>
      </figure>
      <figure>
        <img
          src="../../assets/imgs/travel/japan-tokyo-skytree.jpg"
          alt="Skytree - Tokyo, Japan"
        />
        <figcaption>Skytree - Tokyo, Japan</figcaption>
      </figure>
    </div>
    <p>Shoutout to the Indiana Jones movies for the inspiration!</p>
    <script src="brain.js"></script>
  </body>
</html>
