<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Evan's Travels</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="image-container">
      <img src="../../assets/imgs/bali-beach.jpg" alt="Travel 2" />
      <img src="../../assets/imgs/bali-water.jpg" alt="Travel 2" />
      <img src="../../assets/imgs/bali.jpg" alt="Travel 3" />
      <img src="../../assets/imgs/boulder.jpg" alt="Travel 4" />
      <img src="../../assets/imgs/flatirons.jpg" alt="Travel 5" />
      <img src="../../assets/imgs/kyoto-bamboo.jpg" alt="Travel 6" />
      <img src="../../assets/imgs/kyoto-gion.jpg" alt="Travel 7" />
      <img src="../../assets/imgs/kyoto-red-arches.jpg" alt="Travel 8" />
      <img src="../../assets/imgs/kyoto.jpg" alt="Travel 9" />
      <img src="../../assets/imgs/new-york.jpg" alt="Travel 10" />
      <img src="../../assets/imgs/osaka.jpg" alt="Travel 11" />
      <img src="../../assets/imgs/positano.jpg" alt="Travel 12" />
      <img src="../../assets/imgs/vietnam-ha-long-bay.jpg" alt="Travel 13" />
      <img src="../../assets/imgs/vietnam-hanoi.jpg" alt="Travel 14" />
      <img src="../../assets/imgs/vietnam-ninh-binh.jpg" alt="Travel 15" />
      <img src="../../assets/imgs/bali-beach.jpg" alt="Travel 1" />
      <img src="../../assets/imgs/bali-water.jpg" alt="Travel 2" />
      <img src="../../assets/imgs/bali.jpg" alt="Travel 3" />
      <img src="../../assets/imgs/boulder.jpg" alt="Travel 4" />
      <img src="../../assets/imgs/flatirons.jpg" alt="Travel 5" />
      <img src="../../assets/imgs/kyoto-bamboo.jpg" alt="Travel 6" />
      <img src="../../assets/imgs/kyoto-gion.jpg" alt="Travel 7" />
      <img src="../../assets/imgs/kyoto-red-arches.jpg" alt="Travel 8" />
      <img src="../../assets/imgs/kyoto.jpg" alt="Travel 9" />
      <img src="../../assets/imgs/new-york.jpg" alt="Travel 10" />
      <img src="../../assets/imgs/osaka.jpg" alt="Travel 11" />
      <img src="../../assets/imgs/positano.jpg" alt="Travel 12" />
      <img src="../../assets/imgs/vietnam-ha-long-bay.jpg" alt="Travel 13" />
      <img src="../../assets/imgs/vietnam-hanoi.jpg" alt="Travel 14" />
      <img src="../../assets/imgs/vietnam-ninh-binh.jpg" alt="Travel 15" />
    </div>
    <script src="brain.js"></script>
  </body>
</html>
